body
{
    background-image:url(../images/cityu.jpg)
}

/*详情内容大盒子*/
.shop 
{
    width: 930px;
    display: flex;
    flex-direction: column;
    flex: auto;
    margin: auto;
}

.aero-background
{
    min-height: 100%;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 40px 20px;
}

/*商品介绍*/
.concealor {
    display: flex;
    flex-direction: column;
}

.pname {
    font-size: 26px;
    color: #333333;
}

.pdetail {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
    padding: 0 0 10px 0;
}

.content 
{
    display: flex;
    width: 437px;
    height: 131px;
}

.left {
    margin-left: 12px;
    margin-right: 50px;
}

.left p {
    font-weight: 500;
    font-size: 12px;
    color: #333333;
    padding: 14px 0;
    text-shadow: rgb(255, 255, 255) 0 0 30px;
}

.price {
    font-weight: 800;
    font-size: 14px;
    color: #B02418;
}

.free {
    font-size: 13px;
    color: black;
    text-shadow: rgb(255, 255, 255) 0 0 30px;
}

/* 为ac类中的段落元素添加样式，要求：字体大小为12px，粗细为500，
颜色为#333333，上下和左右内边距分别为0 13px */
.ac p {
    font-size: 12px;
    font-weight: 500;
    color: black;
    text-shadow: rgb(255, 255, 255) 0 0 30px;
    padding: 0 13px;
}

/* 为area类添加样式，要求：弹性布局，上外边距为24px */
.area {
    display: flex;
    margin-top: 24px;
}

/* 为area类中的span标签添加样式，要求：字体颜色为#727272 */
.area span {
    color: rgba(0, 0, 0, 0.4);;
}

/* 为scolor类添加样式，要求：弹性布局 */
.scolor {
    display: flex;
}

/* 为scolor类中的div标签添加样式，要求：
1、设置边框宽度为0.5px，实线，颜色为#008264
2、外边距为5px，字体大小为12px，粗细为500，颜色为#727272
3、宽度80px，高度27px，文本居中对齐，行高为27px */
.scolor div {
    border-radius: 4px;
    border: 0.5px solid #008264;
    background-color: rgba(255, 255, 255, 0.4);
    margin: 5px;
    font-size: 12px;
    font-weight: 500;
    color: #727272;
    width: 80px;
    height: 27px;
    text-align: center;
    line-height: 27px;
    transition: 333ms cubic-bezier(0, 0, 0, 1);
}

.number,.box {
    display: flex;
    border-radius: 4px;
}

.number p {
    margin-top: 26px;
}

.number .box {
    margin-top: 22px;
}

/*加减盒子边框*/
.box .button {
    border-radius: 4px;
    border: 0.5px solid rgba(0, 0, 0, 0.4);
    background-color: rgba(255, 255, 255, 0.4);
    position: relative;
    width: 27px;
    height: 28px;
    padding: 0px;
    transition: 333ms cubic-bezier(0, 0, 0, 1);
}
.box .button:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

/*减号横线*/
.box1::before {
    content: "";
    position: absolute;
    left: 22%;
    top: 50%;
    width: 16px;
    border-top: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
}

input[type="number"] {
    width: 40px;
    height: 24px;
    border-color: rgba(0, 0, 0, 0.0);
    background-color: rgba(255, 255, 255, 0.6);
    color: #333333;
    font-weight: 500px;
    font-size: 16px;
    text-align: center;
    line-height: 28px;
    box-sizing: content-box;
    border-radius: 4px;
    outline: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;}
/*加号横线*/
.box2::before {
    content: "";
    position: absolute;
    left: 22%;
    top: 50%;
    width: 16px;
    border-top: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
}

/*加号竖线*/
.box2::after {
    content: "";
    position: absolute;
    left: 48%;
    top: 24%;
    height: 16px;
    border-left: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
}

.button-group {
    display: flex;
    margin-top: 35px;
    border-radius: 4px;
}

.button-group .button {
    margin-right: 12px;
}

.button {
    width: 145px;
    height: 45px;
    font-size: 16px;
}


/*加入购物车*/
#add-to-cart {
    color: white;
    border-color: #008264;
    background-color: rgba(0, 130, 100, 0.8);
    transition: 333ms cubic-bezier(0, 0, 0, 1);
}
#add-to-cart:hover {
    background-color: #008264;
}
/*立即购买*/
#buy-now {
    color: #008264;
    border-color: #008264;
    background-color: rgba(255, 255, 255, 0.4);
    transition: 333ms cubic-bezier(0, 0, 0, 1);
}
#buy-now:hover {
    background-color: rgba(255, 255, 255, 0.6);
}


.image-button {
    padding: 0;
    width: 45px;
    height: 45px;
    color: rgba(0, 0, 0, 0.8);
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 12px;
    transition: 333ms cubic-bezier(0, 0, 0, 1);
}
.image-button:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

.image-button span {
    width: 16px;
    height: 16px;
    display: block;
    opacity: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}
#collect {
    /* border-width: 2px; */
    border-color: rgba(245, 185, 50, 0.6);/*250 210 0*/ /*252, 213, 63*/
    color: rgba(126, 107, 32, 0.8);
    transition: 333ms cubic-bezier(0, 0, 0, 1);
}
#collect:hover {
    border-color: rgba(245, 185, 50, 1);
    color: rgba(126, 107, 32, 1);
}
#share {
    /* border-width: 2px; */
    border-color: rgba(255, 0, 0, 0.6);
    color: rgba(127, 0, 0, 0.8);
    transition: 333ms cubic-bezier(0, 0, 0, 1);
}
#share:hover {
    border-color: rgba(255, 0, 0, 1);
    color: rgba(127, 0, 0, 1);
}
#collect-icon {
    background-image: url(../images/star.svg);
}
#share-icon {
    background-image: url(../images/share.svg);
}

.tab-page {
    position: relative;
    margin-bottom: 24px;
    height:208px;
    border-radius: 16px;
    padding: 8px;
    /* border: 1.5px solid rgba(0, 0, 0, 0.6);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 4px; */
    border: 1px solid rgba(0, 0, 0, 0.6);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 8px 2px;
    transition: 333ms cubic-bezier(0, 0, 0, 1);
}
.tab-page#introduction {
    background-color: rgba(235, 255, 245, 0.8);
}
.tab-page#comments {
    background-color: rgba(235, 225, 180, 0.8);
}
.tab-page#specifications {
    background-color: rgba(255, 255, 255, 0.6);
}

.tab-item {
    width: 144px;
    margin: 24px;
    user-select: none;
}

.tab-item .hover-underline.selected::after {
    height: 3px;
    border-radius: 1.5px;
    background-color: rgba(0, 130, 100, 1);
}
.tab-item .hover-underline::after {
    height: 3px;
    border-radius: 1.5px;
    background-color: rgba(0, 130, 100, 0.4);
}

.tab-item .hover-underline {
    transition: 333ms cubic-bezier(0, 0, 0, 1);
    font-weight: normal;
    opacity: 0.6;
    cursor: pointer;
}
.tab-item .hover-underline:hover {
    opacity: 1;
}
.tab-item .hover-underline.selected {
    font-weight: bolder;
    opacity: 1;
}

@keyframes slideIn {
    from {
        translate: -16px;
        opacity: 0;
    }

    to {
        translate: 0px;
        opacity: 1;
    }
}
@keyframes slideOut {
    from {
        translate: 0px;
        opacity: 1;
    }

    to {
        translate: 8px;
        opacity: 0;
    }
}
.tab-content {
    position: absolute;
    width: calc(100% - 20px - 24px);
    height: calc(100% - 48px - 24px);
    top: 36px;
    text-align:center;
    display: flex;
    opacity: 0;
    overflow: auto;
    padding: 12px;
    transition: 333ms cubic-bezier(0, 0, 0, 1);
}
.tab-content.not-selected {
    visibility: hidden;
    animation: 0.250s both slideOut cubic-bezier(0, 0, 0, 1);
}
.tab-content.selected {
    visibility: visible;
    animation: 0.333s both slideIn cubic-bezier(0, 0, 0, 1);
    animation-delay: 87ms;
}
.tab-content p {
    margin: auto;
    user-select: none;
    opacity: 0.6;
}

.comments-panel {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.score-panel {
    width: 320px;
    height: 84px;

    font-size: small;
    font-weight: lighter;
}

.trend-bad {
    font-weight:bold;
    font-size:medium;
    color: rgb(163, 76, 37);
}

.score-panel-left-container {
    width: 128px;
    height: 100%;
    float: left;
}
.score-panel-mark {
    font-size: 48px;
    padding: 0;
    margin: 0;
    text-shadow: rgba(255, 255, 255, 0.6) 0 0 16px;
}
.score-panel-comments-count {
    font-size:small;
    display: inline;
    padding: 0;
    margin: 0;
    display: inline;
    text-shadow: rgba(255, 255, 255, 0.6) 0 0 16px;
}

.score-visualization {
    width: calc(100% - 128px);
    height: 100%;
    float: left;
}

.score-visualization-item {
    height: 16px;
    width: 100%;
}
.score-visualization-item .score-text {
    width: 28px;
    font-size: xx-small;
    font-weight: lighter;
    text-shadow: rgba(0, 0, 0, 0.2) 0 0 16px;
    letter-spacing: 2px;
    float: left;
    line-height: 16px;
}
.score-progress-bar-container {
    width: 128px;
    height: 100%;
    margin-left: 8px;
    display: flex;
    align-items: center;
}
.score-progress-bar {
    width: 100%;
    height: 4px;
    border-radius: 16px;
    background-color: rgba(255, 165, 0, 0.2);
}
.score-progress-bar::after {
    content: '';
    display: block;
    height: 100%;
    border-radius: 16px;
    background-color: rgb(255, 165, 0);
}
#five-star-score-progress-bar::after {
    width: 15%;
}
#four-star-score-progress-bar::after {
    width: 5%;
}
#three-star-score-progress-bar::after {
    width: 5%;
}
#two-star-score-progress-bar::after {
    width: 5%;
}
#one-star-score-progress-bar::after {
    width: 70%;
}

.tab-content-inner-separator {
    width: 1px;
    height: 60%;
    margin: 10px 32px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 1px;
}

.most-valuable-comment-recently .range {
    font-weight: lighter;
    font-size: small;
    margin-left: 18px;
    letter-spacing: 2px;
    opacity: 0.4;
}
.most-valuable-comment-recently h4 {
    padding: 0;
    margin: 0;
    margin-bottom: 12px;
    text-align: left;
}

.user-comment {
    width: 324px;
    height: 128px;
}

.comment-source {
    width: 100%;
    height: 34px;
}
.comment-user-avatar {
    float: left;
    opacity: 0.8;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 16px;
    background-image: url(../images/default-avatar.png);
    background-attachment: local;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.comment-user-id {
    float: left;
    line-height: 34px;
    margin-left: 8px;
    text-align: left;
    opacity: 0.8;
}
.user-comment-score {
    float: left;
    width: calc(100% - 108px);
    line-height: 34px;
    text-align: right;
    font-size: small;
    font-weight: lighter;
    opacity: 0.8;
    color: rgb(127, 0, 0);

    text-shadow: rgba(0, 0, 0, 0.4) 0 0 24px;
}

.comment-section {
    width: 100%;
    height: 64px;
}
.comment-section p {
    margin: 12px 2px;
    height: 28px;
    text-align: left;
    font-size: small;
    opacity: 0.9;
}
.comment-section .horizontal-separator {
    width: 100%;
    height: 0.5px;
    border: none;
    margin: 2px auto;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.1);
}

.comment-feedback-question {
    font-size: small;
    font-weight: normal;
    float: left;
    line-height: 24px;
    opacity: 0.6;
}
.comment-button {
    position: relative;
    text-align: left;
    font-size: xx-small;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    width: 48px;
    height: 24px;
    line-height: 32px;
    border-radius: 4px;
    padding: 0px;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    transition: 333ms cubic-bezier(0, 0, 0, 1);
    margin-left: 4px;
}
.comment-button:hover {
    background-color: rgba(0, 0, 0, 0.08);
}
.comment-button .image-sign {
    background-attachment: local;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    width: 16px;
    height: 16px;
    margin-right: 2px;
}
.comment-button #like {
    background-image: url(../images/like.svg);
}
.comment-button #dislike {
    background-image: url(../images/dislike.svg);
}

.premium-ad-tip {
    position: absolute;
    bottom: 0px;
    width: calc(100% - 24px);
    font-size: 12px;
    font-weight: lighter;
    opacity: 0.2;
}

.narrate {
    text-align: left;
}
/* TODO 为botop类添加样式，要求：
    1、弹性布局
    2、宽度和高度分别为840px和33px，背景颜色为#F7F7F7
    3、字体大小为13px，行高为33px，颜色为#838383，文本居中对齐
    4、上，右，下，左四个外边距分别为96px auto 0 auto */
/* .botop
{
    display:flex;
    width:840px;
    height:33px;
    background-color:rgba(255, 255, 255, 0.6);
    font-size:13px;
    line-height:33px;
    color:#838383;
    text-align:center;
    margin:16px auto auto auto;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
} */

/* .intr {
    width: 100px;
} */
/*TODO  为middle类添加样式，要求：
    1、宽度为100px，背景颜色为#2F5DF2
    2、字体颜色为#FFFFFF，左右外边距分别为38px 90px */
/* .middle{
    width:100px;
    background-color:#008264;
    color:#FFFFFF;
    margin-left:38px;
    margin-right:90px;
} */

/* TODO 为bobottom类添加样式，要求：
    1、设置宽度和高度分别为840px和160px，背景颜色为#F7F7F7
    2、设置字体大小为13px，行高为160px，颜色为#838383，文本居中对齐，外边距为auto */
/* .bobottom{
    width:840px;
    height:160px;
    background-color:rgba(255, 255, 255, 0.6);
    font-size:13px;
    line-height:160px;
    color:#838383;
    text-align:center;
    margin:auto;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
} */
.scolor span {
    cursor: pointer;
    color: black;
}
/* .selected {
    color: red;
} */
/*添加JavaScript监听事件点击后的样式*/
.scolor div.active {
    background-color: #008264;
}
.scolor div.active span {
    color: white;
}
