body
{
    background-image:url(../images/self-background.jpg)
}

#orders, #orders-details
{
  border-top-left-radius: 8px;     /* 左上角 */
  border-top-right-radius: 8px;    /* 右上角 */ 
}

#coupons, #coupons-details
{
  border-bottom-left-radius: 8px;     /* 左下角 */
  border-bottom-right-radius: 8px;    /* 右下角 */ 
}

#personal-info-container-background
{
  border-radius: 0px;
  margin: 24px auto;
  margin-bottom: 60px;
  width: 60%;
}

.acrylic-background
{
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.inner-content table {
    width: 100%;
    border-collapse: collapse;
}

.inner-content th, td 
{
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 8px;
    text-align: left;
}

.inner-content th {
    background-color: rgba(255, 255, 255, 0.6);
}

.inner-content ul {
    list-style-type: none;
    padding: 0;
}